
  <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top" style="max-width: 100%">
    <a class="navbar-brand" href="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/users/index">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/subject/allSubjects">Subjects</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Branch
          </a>
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Computer Science & Engineering
            </a><div class="dropdown dropleft">
              <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="/student/Computer Science & Engineering/1">1st</a>
                <a class="dropdown-item" href="/student/Computer Science & Engineering/2">2nd</a>
                <a class="dropdown-item" href="/student/Computer Science & Engineering/3">3rd</a>
                <a class="dropdown-item" href="/student/Computer Science & Engineering/4">4th</a>
                <a class="dropdown-item" href="/student/Computer Science & Engineering/5">5th</a>
                <a class="dropdown-item" href="/student/Computer Science & Engineering/6">6th</a>
                <a class="dropdown-item" href="/student/Computer Science & Engineering/7">7th</a>
                <a class="dropdown-item" href="/student/Computer Science & Engineering/8">8th</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">PassOut</a>
              </div>
            </div>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Electronics & Communication Engineering
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <div class="dropdown dropright">
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/1">1st</a>
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/2">2nd</a>
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/3">3rd</a>
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/4">4th</a>
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/5">5th</a>
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/6">6th</a>
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/7">7th</a>
                <a class="dropdown-item" href="/student/Electronics & Communication Engineering/8">8th</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">PassOut</a>
              </div>
            </div>
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electrical & Electrionics Engineering</a>
              <div class="dropdown dropright">
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">1st</a>
                  <a class="dropdown-item" href="#">2nd</a>
                  <a class="dropdown-item" href="#">3rd</a>
                  <a class="dropdown-item" href="#">4th</a>
                  <a class="dropdown-item" href="#">5th</a>
                  <a class="dropdown-item" href="#">6th</a>
                  <a class="dropdown-item" href="#">7th</a>
                  <a class="dropdown-item" href="#">8th</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">PassOut</a>
                </div>
              </div>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mechanical Engineering</a>
              <div class="dropdown dropleft">
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">1st</a>
                    <a class="dropdown-item" href="#">2nd</a>
                    <a class="dropdown-item" href="#">3rd</a>
                    <a class="dropdown-item" href="#">4th</a>
                    <a class="dropdown-item" href="#">5th</a>
                    <a class="dropdown-item" href="#">6th</a>
                    <a class="dropdown-item" href="#">7th</a>
                    <a class="dropdown-item" href="/student/Mechanical Engineering/8">8th</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">PassOut</a>
                  </div>
                </div>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Civil Engineering</a>
                <div class="dropdown dropright">
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="/student/Civil Engineering/1">1st</a>
                        <a class="dropdown-item" href="#">2nd</a>
                        <a class="dropdown-item" href="#">3rd</a>
                        <a class="dropdown-item" href="#">4th</a>
                        <a class="dropdown-item" href="#">5th</a>
                        <a class="dropdown-item" href="#">6th</a>
                        <a class="dropdown-item" href="#">7th</a>
                        <a class="dropdown-item" href="/student/Civil Engineering/8">8th</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">PassOut</a>
                      </div>
                    </div>
                    </div>
                  </li>
                </ul>
      <ul class="navbar-nav">
          <li>
              <form  action="/users/student" method="POST"  class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" name="rgno" placeholder="Enter Registration No." aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Search <img src="/materialicon/search.svg" alt=""></button>
              </form>
            </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> User Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if(login){ %>
            <a class="dropdown-item" href="/users/profile">User Profile</a>
            <a class="dropdown-item" href="/users/logout">Logout</a>
          <%  } else {  %>
            <a class="dropdown-item" href="/users/login">Login</a>
            <a class="dropdown-item" href="/users/register">Register</a>
          <% } %>
        </div>
      </li> 
    </ul>
    </div>
  </nav>

  
