
<h1>Welcome to  <b>  <%= sem.semester %> Semester</b> Of <b> <%= course.name %> </b> Department 
</h1>

<h1>Add Subjects!!</h1>


<button onclick="goBack()" class="btn btn-primary">Go Back</button>
<script>
  function goBack() {
    window.history.back();
  }
  </script>

<form action="/courses/sem/addSub/<%= course._id %>/<%= sem._id %>" method="POST">
    
   <table class="table table1">
        <tr>
                <div class="form-group">
               <td> <label for="name">*Name:</label></td>
               <td> <input type="text" class="form-control"  name="name" placeholder="Subject Name"></td>
            </div>
           </tr>
           <tr>
            <div class="form-group">
               <td> <label for="hod">*Subject Code:</label></td>
               <td>   <input type="text" class="form-control"  name="subCode" placeholder="Subject Code">
            </div>
           </tr>
           <tr>
                <div class="form-group">
               <td> <label for="name">Teacher:</label></td>
               <td> <input type="text" class="form-control"  name="teacher" placeholder="Faculty Name"></td>
            </div>
           </tr>
        <tr>
            <div class="form-group">
           <td> <label for="form">*Type:</label></td>
           <td> <select name="form" class="custom-select">
               <option value="Theory">Theory</option>
               <option value="Practical">Practical</option>
             </select>
             <br><br>
             <button type="submit" class="btn btn-primary btn-lg">Save Details</button></td>
        </div>
    </tr>
   </table>
</form>
