
<h1>Welcome to<b> <%= course.name %> </b> Department 
 </h1>
<h3> Under Guidance of <b> Mr. <%= course.hod %> </b></h3>

<a href="/courses/addSem/<%= course._id %>"> <button class="btn btn-primary">Add Semester</button> </a>

<hr>

The Computer Science & Engineering Department is well equipped with latest hardware and software in order to provide students with a great deal of hands-on exposure in software designing, coding, testing, deployments, and overall programming capabilities. Funds are being made available to the CSE Department to upgrade hardware and software facilities to create best-in-class infrastructure and provide access to every student to train them for industry readiness and top placements. All labs are fully air-conditioned.

The department organizes additional out of syllabus activities like seminars, group discussions, technical debates on current trends in the field of Computer Science and Engineering. The department currently has Computer Labs with latest hardware and software configuration for students. Labs have state-of-the-art facilities and infrastructure. CSE Department provides internet facility to students, faculty and other staff members of the College. Internet lab is used for web surfing and for acquiring useful information for academic pursuits.

<% include ../partials/footer %>