.table{
      margin: 2% 0% 4% 2%;
}

.table1{
  width: 60%;
  align-items: center;
}

h1, h3{
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
}
ul {
list-style-type: none;
}
li{
  
  display: inline;
}