.table{
      margin: 2% 0% 4% 2%;
}

#mytable{
  width: 100%;
  margin: 20%;
}

a{
  text-decoration: none;
  color: black;
}

h1, h3{
  text-align: center;
}

.container1{
  background-color: rgb(255, 255, 255);
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

ul .action {
list-style-type: none;
}
ul li{
  display: inline;
}