

    <h1>Add a New Student!!</h1>

    

    <button onclick="goBack()" class="btn btn-outline-primary"><img src="/materialicon/undo.png" alt=""> Go Back</button>
      <script>
        function goBack() {
          window.history.back();
        }
        </script>

  <form action="/users/add" method="POST">
    <table class="table">
      <tbody>
        <tr> 
          <div class="form-group">
          <td>   <label for="rollno">*Roll No:</label> </td>
          <td> <input type="number" class="form-control" placeholder="Roll No." name='rollno' required/> </td>
        </div>
      </tr>
        <tr>
          <div class="form-group">
          <td>  <label for="name">*Name:</label></td>
          <td><input type="text" class="form-control" placeholder="Name" name="name" required/> </td>
        </div>
      </tr>
        <tr>
          <div class="form-group">
            <td>    <label for="rgno">*Registration No:</label> </td>
            <td><input type="number" class="form-control" placeholder="Registration No." name="rgno"  required/> </td>
        </div>
      </tr>
        <tr>
          <div class="form-group"></div>
            <td> <label for="department">*Which Department:</label></td>
           <td> <select name="dname" class="custom-select">
              <option value="Computer Science & Engineering">Computer Science & Engineering</option>
              <option value="Electronics & Communication Engineering">Electronics & Communication Engineering</option>
              <option value="Electrical & Electrionics Engineering">Electrical & Electrionics Engineering</option>
              <option value="Mechanical Engineering">Mechanical Engineering</option>
              <option value="Civil Engineering">Civil Engineering</option>
            </select> </td>
          </div>
            <!-- <td> <input type="text" name="dname" required/></td> -->
        </tr>
        <tr>
          <div class="form-group">
              <td> <label for="sname">*Which Semester:</label></td>
              <td><select name="sname" class="custom-select">
                <option value="1">1st</option>
                <option value="2">2nd</option>
                <option value="3">3rd</option>
                <option value="4">4th</option>
                <option value="5">5th</option>
                <option value="6">6th</option>
                <option value="7">7th</option>
                <option value="8">8th</option>
              </select></td>
            </div>
        </tr>
      <tr>
        <div class="form-group">
        <td><label for="email">*Your Email:</label>  </td>
        <td> <input type="email" class="form-control" placeholder="Email" name="email" required>
      </div>
    </tr>
    <tr>
        <div class="form-group">
        <td>  <label for="fname">Father's Name:</label></td>
        <td><input type="text" class="form-control" placeholder="Father's Name" name="fname" required/> </td>
      </div>
    </tr>
    <tr>
        <div class="form-group">
        <td>  <label for="mname">Mother's Name:</label></td>
        <td><input type="text" class="form-control" placeholder="Mother's Name" name="mname" required/> </td>
      </div>
    </tr>
    <tr>
        <div class="form-group">
        <td>  <label for="dob">Date Of Birth:</label></td>
        <td><input type="date" class="form-control" placeholder="DD" name="dob" required/> </td>
      </div>
    </tr>
    <tr>
        <div class="form-group">
        <td>  <label for="gender">Gender:</label></td>
        <td><select name="gender" class="custom-select">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select></td>      
        </div>
    </tr>
    <tr>
        <div class="form-group">
        <td>  <label for="address">Address:</label></td>
        <td><input type="text" class="form-control" placeholder="Address" name="address" required/>
        <br>
        <input type="submit"  class="btn btn-lg btn-outline-primary" role="button" />
      </td>
    </div>
      </tr>
    </tbody>
  </table>   
</form>
  </body>
</html>
