
  <h1>Contact Us!!</h1>
  <p>Reach at Campus.</p>
  <form  action="/users/contact" method="POST">
    <table class="table">
      <tbody>
        <tr>
          <div class="form-group">
          <td><label for="who">Who do you want to contact? </label></td>
          <td><input type="text" class="form-control"  name="who" value="<%=  qs.name %>"/></td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
           <td><label for="department">Which Department:</label></td>
           <td><input type="text"  class="form-control" name="department" value="<%=  qs.dept %>"/></td>
          </div>
        </tr>
        <tr>
            <div class="form-group">
            <td><label for="email">Your Email:</label></td>
            <td><input type="email" class="form-control" name="email" value=""/></td>
            </div>
        </tr>
        <tr>
            <div class="form-group">
            <td><label for="comment">Comment:</label><td>
            <textarea class="form-control" rows="5" id="comment"></textarea><br>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </td>
          </tr>
      </tbody>
    </table>
  </form>
