

<h1>Thanks for getting touch!!!</h1>
  <p>You contacted to <strong><%= data.who %> </strong>in the <strong><%= data.department %> </strong> department.</p>
  <p>We will reply you at <strong> <%= data.email %></strong> soon.</p>

